/* HADES Color */

.color-primary{
    color:$color-primary;
}

.color-primary-bg{
    background:$color-primary;
}

.color-second{
    color:$color-secondary;
}

.color-second-bg{
    background:$color-secondary;
}

.color-yellow{
    color:$color-yellow;
}

.color-yellow-bg{
    background:$color-yellow;
}
